.header_1{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 550px;
    background: brown;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: 
    

}